<div>SPY Drops:</div>
<div style="width: 50%">
	<ngx-slider
		[value]="sliderValue"
		[options]="sliderOptions"
		(userChangeEnd)="onSliderChange($event)"
	></ngx-slider>
</div>
<div style="margin-bottom: 100px">
	<app-tschart [data]="data" [bands]="bands"></app-tschart>
</div>
<div class="scatter">
	<app-scatter-plot
		[data]="lenData"
		title="SPY Bear Market & Negative 10-2Year Treasury Yield Total Trade Days"
		xLabel="Negative 10-2Year Yield (day)"
		yLabel="SPY Bear Market (day)"
		unit="day"
	></app-scatter-plot>
</div>
<div class="scatter">
	<app-scatter-plot
		[data]="percentData"
		title="SPY Biggest Drop & Max 10-2Year Treasury Yield (Negative)"
		xLabel="Max 10-2Year Yield (Negative)"
		yLabel="SPY Biggest Drop"
		unit="percentage"
	></app-scatter-plot>
</div>
<div class="scatter">
	<app-scatter-plot
		[data]="lenPercentData"
		title="SPY Biggest Drop & Negative 10-2Year Treasury Yield Total Trade Days"
		xLabel="Negative 10-2Year Yield (day)"
		yLabel="SPY Biggest Drop"
		unit="day-percentage"
	></app-scatter-plot>
</div>
<div class="scatter">
	<app-scatter-plot
		[data]="percentLenData"
		title="SPY Bear Market Total Trade Days & Max 10-2Year Treasury Yield (Negative)"
		xLabel="Max 10-2Year Yield (Negative)"
		yLabel="SPY Bear Market (day)"
		unit="percentage-day"
	></app-scatter-plot>
</div>
<router-outlet></router-outlet>
